* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Slab", serif;
  background: url(./pexels-olena-bohovyk-3646105.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100vw;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

/* NAV */
.nav-bar {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  flex: content;
  gap: 2em;
  width: 100vw;
  background-color: #f76707;
  padding: 1em;
}

.nav-bar > img {
  margin-left: 1em;
  width: 5rem;
}

.nav-bar h1 {
  font-size: 2em;
  color: #f1f3f5;
}

.add-book:link,
:active,
:visited {
  stroke: white;
}

.add-book:hover > svg {
  transform: rotate(180deg);
  transition: 0.5s ease-in-out;
}

.add-book > svg {
  fill: #f76707;
  transform: rotate(0deg);
  transition: 0.3s;
}

.add-book {
  position: fixed;
  right: 5px;
  top: 25px;
  transform-style: preserve-3d;
  width: 3em;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: 2em;
}
/* CARDS */

.card-list {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.card {
  font-size: larger;
  background-color: #f1f3f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 300px;
  height: auto;
  gap: 1em;
  padding: 1em;
  border-radius: 25px;
  border: 2px solid black;
}

.card hr {
  margin-bottom: -15px;
  width: 250px;
  border: 1px solid black;
}
.card h2 {
  text-align: center;
  height: 3em;
}

.book-icon {
  width: 3em;
}

.reading .book-icon {
  fill: yellow;
}

.yes .book-icon {
  fill: green;
}
.bottom-card {
  margin-top: 3em;
  font-size: 10px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons button {
  border-radius: 50%;
  padding: 0.5em;
  background-color: #ff922b;
  border: none;
  width: 2.5em;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #f76707;
  border: none;
}

.buttons {
  margin-right: 7em;
}

/* MODAL */
.add-book--modal {
  opacity: 0;
  position: absolute;
  align-self: center;
  transform: translate(0, 100%);
  padding: 2em 1em;
  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: #f1f3f5;
  border-radius: 20px;
  border: 2px solid black;
  transition: all 0.5s;
  display: none;
}

.active {
  display: block;
  opacity: 1;
  position: fixed;

  padding: 2em 1em;

  min-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  background-color: #f1f3f5;
  border-radius: 20px;
  border: 2px solid black;
  transition: 1s;
}

.add-book--modal label {
  font-weight: 600;
  width: 50px;
  margin-right: 0.5em;
}

.add-book--modal label[for="read-status"] {
  width: 100px;
}

input:focus {
  outline: none !important;
  border-color: #ff922b;
  box-shadow: 0 0 10px #f76707;
}

select:focus {
  outline: none !important;
  border-color: #ff922b;
  box-shadow: 0 0 10px #f76707;
}

.add-book--modal input,
select {
  padding: 0.5em;
}

.add-book--modal div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.button {
  font-weight: 600;
  border: 2px solid #f76707;
  cursor: pointer;
  padding: 1em;
  width: 30%;
}
.button:hover {
  background-color: #f76707;
}
